.navbar-default .navbar-brand
{
	
	color: #002E5C;
}

.navbar-default .navbar-brand:hover
{
	color: #000066;
}

 .navbar-default .navbar-nav > .active > a,  .navbar-default .navbar-nav > .active > a:hover{
	
 }
 
.jumbotron h1 
{
	color: #002E5C;
 }
 
 .table-hover
 {
	margin: 0 auto;
	width: 1150px;
 }
 
 table 
 {
     table-layout: fixed;
 }
 th.rank
 {
	width: 80px;
 }
 
 th.username 
 {
 width: 50px;
 }
 
 th.vote
 {
 width: 100px;
 }

 html 
 {
overflow-y: scroll;
 }
 
 th.definition
 {
	width: 850px;
	    white-space: nowrap;
    overflow: hidden;

    text-overflow: ellipsis; 
	
 }
 
 
 .category 
 {
	position: relative;
	top: -13px;
	width: 1150px;
	margin: 0 auto;
	margin-bottom: -1px;

 }
 
  .category2
 {
	position: relative;
	top: 8px;
	margin-bottom: 20px;

 }
 
 .submitForm 
 {
	position: relative;
	top: 12px;
 }
 
 .category3
 {
	position: relative;
	top: 8px;
	margin-bottom: 3px;

 }
 .inlineh3 
 {
	display:inline;
 }
 
  .viewMoreWrapper
 {
	
	width: 1150px;
	margin: 0 auto;
	margin-top: 12px;
	margin-bottom: 6px;
 }
 
 .btn-block {
    padding: 4px;
	font-size: 19px;
}
.appadd{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	}
	
.wrapper
{
margin: 0 auto;
	margin-top: 60px;
	width: 1150px;
}

.emptyspace{
	height: 74px;
}

.definition:link {
    text-decoration: none;
	color:inherit;
}

.definition:visited {
    text-decoration: none;
	color:inherit;
}

.definition:hover {
    text-decoration: underline;
}

.definition:active {
    text-decoration: underline;
}

.panel-default {
	margin: 0 auto;
	margin-top: 15px;
	width: 1150px;
}

.panel-heading {
	height: 40px;
}

.voteWrapper {
	width: 1150px;
	margin: 0 auto;
	margin-top: 15px;
	
	
}

.commentWrapper {
	width: 1150px;
	margin: 0 auto;
	margin-top: 20px;
}

.commentButtonWrapper {
	width: 1150px;
	margin: 0 auto;
	margin-top: 10px;
}

.jumbotron 
{
background: rgb(246,248,249); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
padding-bottom: 14px;
}

